<div layout="column" flex="" layout-fill="" ng-cloak="">

  <md-content md-theme="" style="height: 700px;">
      <md-toolbar md-scroll-shrink style="background-color: antiquewhite; color: black">
        <div class="md-toolbar-tools">
          Commits <span ng-bind="organizationId | uppercase"></span>
        </div>
      </md-toolbar>

    <section>
      <md-progress-linear md-mode="indeterminate" ng-show="showIndicator"></md-progress-linear>
      <md-subheader class="md-primary">
        <div layout="row" class="md-whiteframe-z2">
          <md-input-container flex="row" class="layout-row" flex-gt-sm>
            <input type="search" placeholder="Search by commit name or author name" ng-model="searchCommits" class="input-lg" />
          </md-input-container>
        </div>
      </md-subheader>

      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="item in commits | filter: searchCommits">
          <img ng-src="{{item.committer.avatar_url}}" class="md-avatar" alt="Photo">
          <div class="md-list-item-text">
            <a ng-href="{{item.html_url}}" >
              <h3 ng-bind="item.commit.message | limitTo: 30"></h3>
            </a>
            <a ng-href="{{ item.author.html_url}}">
              <u ng-bind="item.committer.login"></u>
            </a>
            <p> Committed on: <span ng-bind="item.commit.committer.date | date: 'mediumDate'"></span> </p>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</div>